.myli{
    display:inline-block;
}

.mya{
    text-decoration:none;
    font-family:'Courier New', Courier, monospace;
    color:black;
    background-color:brgba(227, 196, 40, 0.806);
    padding: 0px 30px;
    gap:20px;
    font-size:60px;
    transition:0.25s;
}

.mya:hover{
    color:rgba(227, 196, 40, 0.806);
}

#mya9{
    text-decoration:none;
    color:white;
    font-size:70px;

}
.mydiv{
    background-color:rgba(227, 196, 40, 0.806);
    width:100%;
    height:60px;
    margin:0;
}

.navbar{
    position:sticky;
    top:0;
    left:0;
    width: 100%;
    background-color:rgb(115, 176, 236);
    z-index: 1000;
    border:solid black;
}

body{
    background-color:rgb(115, 176, 236);
}

#mydiv1{
    background-color:rgba(227, 196, 40, 0.806);
    height:500px;
    color:black;
    text-align:center;
    font-size:200px;
    padding:10px;
}

h1{
    font-size:50px;
}

.myli3{
    font-size: 30px;        
}

#mya2{
    text-decoration:none;
    color:black;
    font-family:'Courier New', Courier, monospace;
    font-size:70px;
    transition:0.25s;
}

#mya2:hover{
    color:rgba(227, 196, 40, 0.806);
    transform:scalex(15px)
}

#mylabel{
    font-size:100px;
}

#mybutton{
    font-size:100px;
    text-decoration:none;
    background-color:rgba(227, 196, 40, 0.806);
    color:black;
    border-radius:25px;
    padding:15px;
}

#buttondiv{
    text-align:center;
    border: solid black;
    display:inline-block;
    padding:20px;
    border-radius:25px;
}


.labeldiv{
    border:solid black;
    border-radius:25px;
    padding:15px;
    display:inline-block;
}

h2{
    font-size:40px;
}

#mybutton2{
    font-size:100px;
    text-decoration:none;
    background-color: rgba(227, 196, 40, 0.806);
    color: black;
    border-radius:25px;
    padding:15px;
}

#mybutton3{
    font-size:100px;
    text-decoration:none;
    background-color:rgba(227, 196, 40, 0.806);
    color:black;
    border-radius:25px;
    padding:15px;
}

#mylabel2{
    font-size:100px;
}

#mylabel3{
font-size:100px;
}

#label2div{
    border:solid black;
border-radius:25px;
padding: 15px;
display:inline-block;
}

#button2div{
    display:inline-block;
    border-radius:25px;
    padding:20px;
    border:solid black;
}

#mybutton3div{
    display: inline-block;
    border-radius:25px;
    padding:20px;
    border: solid black;
}

#label3div{
    display:inline-block;
    border-radius:25px;
    padding:15px;
    border:solid black;
}

#label4div{
    display:inline-block;
    border-radius:25px;
    padding:20px;
    border:solid black;
    font-size:100px;
}

#label5div{
    display:inline-block;
    border-radius:25px;
    padding:20px;
    border:solid black;
    font-size:100px;
}

#label6div{
    display:inline-block;
    padding:20px;
    border:solid black;
    border-radius:25px;
    font-size:100px;
}
